/****************************************************
 * Main Styles
 *
 * @project Sencha Labs
 * @version 1.0
 * @author Isaac Horton <iworktoomuch@me.com>
 * @author David Kaneda <dk@morfunk.com>
 * @copyright 2012 Sencha Inc. All Rights Reserved.
 *
 *
 ****************************************************/

@import 'compass', 'recipes', 'normalize', 'grid';

$light-gray: #ecece9;
$gray: #d8d8d8;
$med-gray: #707070;
$dark-gray: #494a4f;
$black: #1a1a1a;
$green: #8bc810;

.smoothtype {
	-webkit-font-smoothing: antialiased;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
body {
	font-size: 0.80em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	// background: $dark-gray url("../images/body-bg.jpg") repeat-x 0 0;
	@include background-blueprint-grid(
		$background-color: darken($dark-gray, 15),
		$width: 50px,
		$width-alt: 5px,
		$foreground-color: rgba(#fff, .05),
		$foreground-color-alt: rgba(#fff, .05)
	);

	@include color-by-background($dark-gray, 50);
}

a {
	@include color-by-background($dark-gray, 70);
	text-decoration: none;
}
h1, h2, h3, h4 {
	line-height: 1.5em;
	font-weight: normal;
	@extend .smoothtype;
}
h1 span, h2 span, h3 span, h4 span {
	color: $green;
}
* {
	outline: 0;
}

/****************************************************
 * Menu
 ****************************************************/
#select {
	color: #ababab;
	width: 175px;
	padding: 4px 10px;
	display: inline-block;
	border: 1px solid $black;
	background: darken($dark-gray, 15);
	// @include background(linear-gradient(#4a4c50, #242426));
	@include background-gradient(darken($dark-gray, 15), glossy);
	@include border-radius;
	text-shadow: 0 1px 0 $black;

	&:hover {

	}

	&.active {
		border-bottom: none;
		@include border-bottom-radius(0);
	}
}

.tri {
	position: absolute;
	right: 10px;
	top: 10px;
	@include triangle($width: 4px, $color: color-by-background($dark-gray, 50), $direction: 'bottom');
}

#project-title {
	float: left;
}

menu {
	width: 195px;
	margin: 0;
	padding: 0;
	display: none;
	border: 1px solid $black;
	background: #242426;
	@include background(linear-gradient(#4a4c50, #242426));
	@include border-radius;
	@include border-top-radius(0);
	position: absolute;
	left: 0;
	top: 24px;
	z-index: 9999;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		width: 195px;
		list-style-type: none;

		a {
			padding: 5px 10px;
			display: block;
			text-shadow: 0 1px 0 $black;
			color: #ababab;

			&:hover {
				color: #fff;
				background-color: darken($green, 11);
			}
		}

		&:last-child a {
			@include border-bottom-radius(5px);
		}
	}
}

/****************************************************
 * Header
 ****************************************************/
header.global {
	height: 50px;
	margin-top: 30px;
	padding-left: 4px;
	padding-bottom: 10px;	

	h1 {
		margin: 0;
		padding: 0;	
		float: left;
		
		a {
			width: 185px;
			height: 50px;
			display: block;
			background: transparent url("../images/header-logo.png") no-repeat 0 0;
		}
	}

	nav {
		margin-top: 15px;
		float: right;	
		position: relative;
	}
}

/****************************************************
 * Article
 ****************************************************/
#carousel {
	width: 950px;
	height: 400px;
	position: relative;

	#container {
		display: none;
		position: absolute;
	}

	.feature {
		-webkit-backface-visibility: hidden; // Fixes transition antialiasing
		width: 955px;
		height: 400px;
		background-color: #000;
		float: left;
		background-repeat: none;
		background-position: 0 0;

		// Default inactive state
		@include scale(.9);
		@include opacity(.5);
		cursor: pointer;
		@include transition(all .8s ease-in-out); // Slightly longer than slide animation

		h1 {
			color: #8bc810;
			margin: 0;
			padding: 0;
		}

		.info {
			color: $light-gray;
			margin-top: 100px;
			padding: 20px 30px 30px 50px;
			width: 300px;

			p {
				font-size: 1.1em;
				line-height: 1.5em;
			}
		}


		a {
			pointer-events: none;
		}

		&.active {
			cursor: default;
			@include opacity(1);
			@include scale(1);
			a {
				pointer-events: all;
			}
		}
	}
}
.more {
	$more-color: darken($green, 15);
	display: inline-block;
	padding: 7px 10px;
	@include background-gradient($more-color, glossy);
	@include color-by-background($more-color);
	@include bevel-shadow($size: 2px);
	@include border-radius(2px);
	margin-top: 10px;
}
.arrow {
	width: 25px;
	height: 42px;
	display: block;
	position: absolute;
	top: 400px;
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 1000;
}
#arrow-left {
	background-image: url('../images/project-arrow-left.png');
	left: 20px;
}
#arrow-right {
	background-image: url('../images/project-arrow-right.png');
	right: 20px;
}
#project-jqtouch {
	background-image: url('../images/project-jqtouch.jpg');
}
#project-connect {
	background-image: url('../images/project-connect.jpg');
}
#project-infovis {
	background-image: url('../images/project-infovis.jpg');
}
#project-philogl {
	background-image: url('../images/project-philogl.jpg');
}
#project-raphael {
	background-image: url('../images/project-raphael.jpg');
}

/****************************************************
 * Footer
 ****************************************************/
footer.global {
	-webkit-backface-visibility: hidden; // Fixes transition flicker
	@include color-by-background($dark-gray, 30);
	height: 30px;
	padding-top: 10px;
	margin-top: 10px;	
	border-top: 1px solid #3c3c3f;
}