@import 'normalize.css';
@import 'grid.css';

/****************************************************
 * Main Styles
 *
 * @project Sencha Labs
 * @version 1.0
 * @author Isaac Horton <iworktoomuch@me.com>
 * @copyright 2012 Sencha Inc. All Rights Reserved.
 *
 * @media screen
 * @colordef #ecece9; light gray
 * @colordef #d8d8d8; gray
 * @colordef #707070; dark gray
 * @colordef #1a1a1a; black
 * @colordef #8bc810; green
 *
 ****************************************************/
html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
body {
	font-size: 0.80em;
	color: #707070;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background: #fff url("../images/body-bg.gif") repeat 0 0;
}
a {
	color: #707070;
	text-decoration: none;
}
h1, h2, h3, h4 {
	line-height: 1.5em;
	font-weight: normal;
}
h1 span, h2 span, h3 span, h4 span {
	color: #8bc810;
}
* {
	outline: 0;
}

/****************************************************
 * Menu
 ****************************************************/
#select {
	color: #707070;
	width: 175px;
	padding: 4px 10px;
	display: inline-block;
	border: 1px solid #d8d8d8;
	background: #fff;
	background: linear-gradient(bottom, #ecece9 0%, #fff 100%);
	background: -moz-linear-gradient(bottom, #ecece9 0%, #fff 100%);
	background: -webkit-linear-gradient(bottom, #ecece9 0%, #fff 100%);
	background: -ms-linear-gradient(bottom, #ecece9 0%, #fff 100%);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 1px 0 #fff;
}
#select.active {
	border-bottom: none;
	background: #ecece9;
	background: linear-gradient(bottom, #d8d8d8 0%, #fff 100%);
	background: -moz-linear-gradient(bottom, #d8d8d8 0%, #fff 100%);
	background: -webkit-linear-gradient(bottom, #d8d8d8 0%, #fff 100%);
	background: -ms-linear-gradient(bottom, #d8d8d8 0%, #fff 100%);
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#select:hover {
	background: #ecece9;
	background: linear-gradient(bottom, #d8d8d8 0%, #fff 100%);
	background: -moz-linear-gradient(bottom, #d8d8d8 0%, #fff 100%);
	background: -webkit-linear-gradient(bottom, #d8d8d8 0%, #fff 100%);
	background: -ms-linear-gradient(bottom, #d8d8d8 0%, #fff 100%);
}
.arrow {
	width: 8px;
	height: 8px;
	float: right;
	display: block;
	margin-top: 3px;
	background: transparent url("../images/menu-arrow.png") no-repeat 0 0;
}
#project-title {
	float: left;
}
menu {
	width: 195px;
	margin: 0;
	padding: 0;
	display: none;
	border: 1px solid #d8d8d8;
	background: #fff;
	background: linear-gradient(bottom, #ecece9 0%, #fff 100%);
	background: -moz-linear-gradient(bottom, #ecece9 0%, #fff 100%);
	background: -webkit-linear-gradient(bottom, #ecece9 0%, #fff 100%);
	background: -ms-linear-gradient(bottom, #ecece9 0%, #fff 100%);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	position: absolute;
	left: 0;
	top: 24px;
	z-index: 9999;
}
menu ul {
	margin: 0;
	padding: 0;
}
menu li {
	width: 195px;
	list-style-type: none;
}
menu li a {
	padding: 5px 10px;
	display: block;
	text-shadow: 0 1px 0 #fff;
	color: #707070;
}
menu li a:hover {
	color: #8bc810;
}
menu li:last-child a {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/****************************************************
 * Header
 ****************************************************/
header.global {
	height: 50px;
	margin-top: 50px;
	padding-bottom: 20px;	
	border-bottom: 1px solid #d8d8d8;
}
header.global h1 {
	margin: 0;
	padding: 0;	
	float: left;
}
header.global h1 a {
	width: 185px;
	height: 50px;
	display: block;
	background: transparent url("../images/header-logo.png") no-repeat 0 0;	
}
header.global nav {
	margin-top: 15px;
	float: right;	
	position: relative;
}
/****************************************************
 * Article
 ****************************************************/
#carousel {
	width: 950px;
	height: 400px;
	position: relative;
}
#carousel #container {
	position: absolute;
	overflow-y: hidden;
	overflow-x: visible;
}
#carousel .feature {
	width: 955px;
	height: 400px;
	background-color: #000;
	float: left;
	background-repeat: none;
	background-position: 0 0;
}
#carousel .feature h1 {
	color: #8bc810;
	margin: 0;
	padding: 0;
}
#carousel .feature .info {
	background-color: #000;
	color: #ecece9;
	margin-top: 100px;
	padding: 20px 30px 30px 50px;
	width: 300px;
}
.more {
	font-size: 0.8em;
	color: #fff;
	display: inline-block;
	padding: 7px 10px;
	background: #729600;
	background: linear-gradient(bottom, #729600 0%, #8bc810 100%);
	background: -moz-linear-gradient(bottom, #729600 0%, #8bc810 100%);
	background: -webkit-linear-gradient(bottom, #729600 0%, #8bc810 100%);
	background: -ms-linear-gradient(bottom, #729600 0%, #8bc810 100%);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 1px 0 #729600;
	text-transform: uppercase;
	margin-top: 10px;
}
#project-jqtouch {
	background-image: url('../images/project-jqtouch.jpg');
}
#project-connect {
	background-image: url('../images/project-connect.jpg');
}
#project-infovis {
	background-image: url('../images/project-infovis.jpg');
}
#project-philogl {
	background-image: url('../images/project-philogl.jpg');
}
#project-raphael {
	background-image: url('../images/project-raphael.jpg');
}

/****************************************************
 * Footer
 ****************************************************/
footer.global {
 	font-size: 0.85em;
	height: 30px;
	padding-top: 10px;
	margin-top: 10px;	
	border-top: 1px solid #d8d8d8;
}